// Default empty mediaQuery map
$mediaQueries: () !default;

// Source Paths
$pathAsset: '..' !default;
$pathFont: 'font' !default;
$pathImage: 'image' !default;

// Fonts
$fontArial: Arial, sans-serif;

// Z-Index
$zLayout: default !default;
